@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    width: 100%;
    padding: 0 20px;
}

.article-form{
    max-width: 550px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px;

}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;

}
.input-fields .input{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid;
    padding: 10px;
    width: 100%;
}

.btn{
    background: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px){
    .article-form{
        flex-direction: column;
    }
    .input-fields{
        width: 100%;
    }
}